<div class="container">
  <% @users.each do |user| %>
    <li>
      <%= user.email.split('@').first %>
      <!--使用新增追蹤按鈕的prtial-->  
      <%= render partial: "shared/follow", locals:{user:user} %>
     </li>
   <% end %>
 
</div>
